[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
pytorch = "*"
matplotlib = "*"
numpy = "*"
labml = ">=0.4.39"
tensorflow = "*"
torchvision = "*"
labml_dashboard = "*"

[requires]
python_version = "3.7"
