[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
torch = "*"
matplotlib = "*"
numpy = "*"
labml = ">=0.4.62"
tensorflow = "*"
torchvision = "*"
labml_dashboard = "*"
labml_helpers = ">=0.4.62"

[requires]
python_version = "3.7"
